@import "~normalize.css/normalize.css";

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: 0;
  cursor: pointer;
}

input {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: 0;
}

select {
  -webkit-appearance: none;
}

svg {
  fill: currentColor;
}

*:focus {
	outline: none;
}

.a11y-mode {
	select:focus, button:focus, a:focus {
		outline: 1px solid #0097b7;
	}
	input[type=search] {
		outline: none;
	}
}